html,
body {
    overflow: hidden;
    /* margin-top: 75px; */
}

/* .custom-iframe {
    width: 100%;
    height: 100vh;
    border: none;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom-iframe::-webkit-scrollbar {
    display: none;
} */

.table-container {
    max-height: 40vh;
    /* Set max height untuk auto scroll */
    overflow: hidden;
    /* Sembunyikan scroll bar */
    position: relative;
    /* Untuk posisi absolut */
}

.table-auto {
    -webkit-animation: scroll 45s linear infinite;
    animation: scroll 45s linear infinite;
    animation-delay: 5s;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(-100%);
    }
    86% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.marquee-container {
    width: 80%;
    overflow: hidden;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.marquee {
    /* display: block;
    white-space: nowrap; */
    font-size: 30px;
    font-weight: bold;
    color: #1602fb;
}
