.hidden-time {
    display: none;
}

.bg-teal,
.bg-teal > a {
    color: #1f2d3d !important;
}

.bg-antiquewhite {
    background-color: antiquewhite !important;
}

.input-sm {
    width: 60px;
    height: 28px;
}

.card-body {
    background-color: antiquewhite;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.card-footer {
    background-color: antiquewhite;
}

.z-5 {
    z-index: 5;
}

input,
input::-webkit-input-placeholder {
    font: 1rem;
}

.input-error {
    border: 1px solid red;
    background-color: #fee;
}

.position-absolute {
    position: absolute;
    left: 50%;
    top: 45px;
    transform: translateX(-50%);
}

.aksi-button:hover i {
    font-size: 17px;
}

.edit:hover i {
    font-size: 17px;
}
.delete:hover i {
    font-size: 17px;
}
.panggil:hover i {
    font-size: 17px;
}

/* confetti */

canvas#confetti {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10000;
    pointer-events: none;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(3);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blink {
    -webkit-animation: blink 2s infinite;
    animation: blink 2s infinite;
    color: red;
}

/* Apply the animation to the greeting message */
div[style*="animation: zoomIn"] {
    animation: zoomIn 4s;
}

@media (min-width: 768px) {
    .button-53 {
        padding: 0.75rem 3rem;
        font-size: 1.25rem;
    }
}

#tabelPemeriksaan .select-checkbox,
#tabelPemeriksaan .form-check-label,
#tabelPemeriksaan .form-control {
    display: inline-block;
    vertical-align: middle; /* Menyelaraskan vertikal */
    margin-bottom: 0; /* Menghapus margin bawah pada elemen form-control */
}

.rotate {
    transform: rotate(-90deg);
    transform-origin: center center;
}

/* CSS untuk mempersempit jarak antar baris di DataTable */
.table-tight tbody tr td,
.table-tight thead tr th {
    padding: 4px 8px; /* Atur padding sesuai kebutuhan */
    margin: 0;
}

/* Class khusus untuk garis tabel */
.table-bordered-custom {
    border-collapse: collapse; /* Gabungkan garis tabel menjadi satu */
    width: 100%;
}

.table-bordered-custom thead th {
    border: 1px solid #000000; /* Garis tipis abu-abu untuk header tabel */
    background-color: #aab4bf; /* Warna latar belakang header tabel */
    padding: 8px;
    text-align: left;
}

.table-bordered-custom tbody td {
    border: 0.2px solid #000000; /* Garis tipis abu-abu untuk sel tabel */
    /* padding: 8px; */
}

.table-bordered-custom table,
.table-bordered-custom th,
.table-bordered-custom td {
    border: 0.2px solid #000000; /* Garis tipis abu-abu untuk seluruh tabel */
    border-collapse: collapse;
}

.table td {
    font-weight: normal;
}

/*  */

.switch {
    position: relative;
    display: inline-block;
    width: 120px; /* Adjust width for desired size */
    height: 34px; /* Adjust height for desired size */
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    -moz-border-radius: 45%;
    -ms-border-radius: 45%;
    -o-border-radius: 45%;
    -webkit-border-radius: 45%;
    border-radius: 45%;
}

input:checked + .slider {
    background-color: #21f356;
}

input:checked + .slider:before {
    /* Adjust according to switch width */
    -webkit-transform: translateX(85px);
    -moz-transform: translateX(85px);
    -ms-transform: translateX(85px);
    -o-transform: translateX(85px);
    transform: translateX(85px);
    background-color: rgb(0, 0, 0);
}

.slider.round {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}

.slider.round:before {
    -webkit-border-radius: 45%;
    -moz-border-radius: 45%;
    -ms-border-radius: 45%;
    -o-border-radius: 45%;
    border-radius: 45%;
}

.status-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.modal-xl-custom {
    max-width: 90% !important; /* Sesuaikan lebar sesuai kebutuhan, misalnya 90% */
    width: 90% !important; /* Gunakan 90% dari lebar layar */
}

@media (max-width: 700px) {
    .mobile-navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: #f5f5f5;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .margin-top-navbar {
        margin-top: 90px;
    }
}

.nav-item.non-aktif {
    pointer-events: none; /* Mencegah klik */
    opacity: 0.6; /* Membuat tampilan lebih redup */
    cursor: not-allowed; /* Menampilkan cursor dilarang */
    position: relative;
}

.nav-item.non-aktif:hover::after {
    content: "🚫";
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.loadingSpinner {
    position: absolute;
    left: 45%;
    top: 30%;
    transform: scale(2.5);
    z-index: 3 !important;
}

@media (max-width: 768px) {
    .loadingSpinner {
        position: absolute;
        left: 35%;
        top: 40%;
        transform: scale(2.5);
        z-index: 3 !important;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.custom-spin {
    display: inline-block;
    animation: spin 1s linear infinite;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}
